body {
    overflow: scroll;
}
.frase {
    font-size: 20px;
}
.campo-digitacao {
    border: 3px solid #000;
    font-size: 20px;
    height: 130px;
}
.desativado {
    background-color: lightgray;
}
.campo-certo {
    border: 3px solid green;
}
.campo-errado {
    border: 3px solid #ff0000;
}
.placar {
    display: none;
}
.botoes {
    position: relative;
}
.tutorial-placar {
    border: 10px solid #ccc;
    border-radius: 5px;
    width: 10em;
    padding: .5em;
    position: absolute;
    top: 130%;
    left: 8%;
    box-sizing: border-box;
    background-color: #b6b6b6;
    display: none;
}
.tutorial-placar::before{
    content: '';
    width: 1em;
    height: 1em;
    border: 5px solid #ccc;
    position: absolute;
    bottom: 7.6em;
    right: 7.9em;
    transform: translateY(.5em) rotate(45deg);
}
#erro {
    display: none;
    color: #ff0000;
}
#spinner {
    display: none;
}
#frase-id {
    width: 40px;
}
#botao-sync {
    float: right;
}
.selectize-input {
    width: 150px;
    vertical-align: middle;
}
.select-usuarios {
    display: inline-block;
}
#usuarios {
    display: block;
}
